@page
@model WebApp.Pages.SubjectsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
  Layout = "../shared/_AdminMenuLayout.cshtml";
}

<div class="jumbotron">
  <h1 class="display-3">Subjects</h1>
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Total Teachers of Subject</th>
        <th>Total Hours</th>
        <th>Practical Hours</th>
        <th>Theoretical Hours</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    @foreach(var subject in Model.Subjects)
    {
      <tr>
        <td>@Model.GetTotalTeachersOfSubject(subject.IdSubject)</td>
        <td>@(subject.PracticalHours + subject.TheoreticalHours)</td>
        <td>@subject.PracticalHours</td>
        <td>@subject.TheoreticalHours</td>
        <td>@subject.Name</td>
      </tr>
    }
    </tbody>
  </table>
</div>